body {
    background-color: #f7f3ea;
    color: black;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0;
}

.topnav {
    background-color:#f7f3ea;
    width: 100%;
    height: 90px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.tittle {
    text-decoration: none;
    color: black;
    list-style: none;
}
h1 {
    font-family: 'Sacramento', cursive;
    color: black;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    padding-left: 3%;
    align-self: center;
}
.homemenu {
    float: left;
    display: flex;
    flex-direction: row;
    position:relative;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight: 700;
    letter-spacing: normal;
    width: 80%;
}
.toggle-btn {
    color: #345047;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: center;
    display: none;
}
.responsive {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 0;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 90px;
    right: 0;
    background-color: #f6ce56;
    padding: 3rem;
    padding-right: 5rem;
    color: #372F1D;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: hidden;
}
.responsive.open{
    height: 504px;
}
.responsive .home-responsive{
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: space-evenly;
    visibility: visible;
}
.home-responsive .menu-resp{
    visibility: hidden;
    text-decoration: none;
    color: #372F1D;
    font-size: 26px;
}
.menu-resp:hover{
    color: #0a9b96;
}

.menu-left { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
    text-align: center;
    width: 300px;
}
.menu-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    padding-bottom: 15px;
    box-sizing: border-box;
    width: 200px;
}
.homemenu .menu-left li .menu-item{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: black;
}
.homemenu .menu-right li .menu-item{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: black;
}
.menu-item{
    padding: 8px;
    transition: .3s;
}
.menu-item:hover{
    border-radius: 10px;
    background-color: rgba(251, 227, 155, 0.932);
    box-shadow: 0 0 10px #f6ce56;
    transition: .5s;
}
li {
    list-style-type: none;
    list-style: none;
    display: block;
}
.coffee-img {
    width: 100%;
    display: block;
    box-sizing: border-box;
    align-content: center;
}
.contenedor-nov {
    display: flex;
    background-color: #345047;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: space-evenly;
}
.novedades-lapan {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: left;
    color: white;
    padding-left: 5%;
}
.news-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: left;
}
.news ul .news-deco {
    list-style-type: disc;
}
.nov-img {
    width: 400px;
    height: 400px;
}
.news {
    text-decoration: dashed;
}
.contenedor-seg-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #f7f3ea;
    justify-content: center;
}
.second-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.second-menu .contenedor-seg li a{
    justify-content: space-between;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: black;
    text-decoration: none;
}
.contenedor-seg {
    background-color: #f6ce56;
    width: 35%;
    height: 55px;
    text-align: center;
}
.contenedor-contacto-map {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #372F1D;
    color: whitesmoke;
}
.mapa {
    display: flex;
    width: 700px;
    height: 450px;
}
.cont-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.conte-contacto-contac {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.telefono {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.tel-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.celular {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.cel-img {
    width: 60px;
    height: 60px;
    margin-right: 2%;
}

.horario {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    align-content: flex-end;
    padding-right: 40px;
}

.contenedor-insta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.siguenos-insta {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.insta-img {
    width: 20%;
}
.instagram-feed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
}
.feed {
    width: 25%;
    margin: 5px;
}

.Footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    background-color: #16B6B1;
    padding-top: 20px;
}
.footer-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 5px;
    align-items: baseline;
}

.nav-footer ul li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.nav-footer p {
    margin: 0;
}
.nav-footer ul{
    margin-top: 10px;
    padding-inline-start: 20px;
}
.estrellas {
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 600;
    font-size: 18px;
}
.stars-img {
    width: 100px;
}
.redes {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
}
.insta-footer {
    width: 30px;
}

.coment- {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #f7f3ea;
    text-decoration: none;
}

.footer-end {
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.titt {
    display: flex;
    margin: 0;
    background-color: rgba(81, 66, 48, 0.325);
    height: 80px;
    justify-content: center;
    padding: 0;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.ti-carta {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #372F1D;
    margin: 0;
    padding: 0;
}
.contenedor-carta {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #51423053;
}
.cont-carta-pedidos {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #372F1D;
}
.class-carta {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    background-color: #345047;
    color: #f7f3ea;
    font-size: 22px;
    width: 280px;
    height: 300px;
}
.class-carta ul li a{
    text-decoration: none;
    color: #f7f3ea;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.carta-menu {
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: #372F1D;
    color: #f7f3ea;
    width: 68%;
}
.carta-pedidos {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #372F1D;
    color: #f7f3ea;
    width: 60%;
}
.par-ab {
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
}
.h2s {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
}
.aclaración {
    text-align: right;
    padding-right: 40px;
    font-style: italic;
}
.p-c {
    text-align: center;
}
h5 {
    text-align: right;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px
}
.contenedor-carta-menu {
    padding-bottom: 5%;
}
.cont-carta-menu {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.cont-carta-menu .cont-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    grid-gap: 0px;
    grid-row-gap: 30px;
    transition: .3s;
}

.cont-carta-menu .cont-items .item{
    width: 160px;
    padding: 10px;
    margin: auto;
    border: 1px solid #f7f3ea;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.cont-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.cont-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.cont-items .item .precio-item{
    display: block;
    text-align: center;
    font-size: 22px;
}
.cont-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background: #f6ce56;
    color: #372F1D;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.novedades-main{
    background-color: #f6ce56;
    color: #372F1D;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.novedades-cont {
    padding: 7%;
    background-color: #345047;
}
.novedad-picnic {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3%;
}
.novedades-img {
    width: 50%;
}
.contenedor-picnic {
    padding-left: 3%;
    color: #f7f3ea;
}
.contenedor-picnic h1 {
    color: #f7f3ea;
}


.carrito{
    border: 1px solid #f7f3ea;
    width: 30%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    opacity: 0;
    
}
.carrito-item{
    background-color: #f7f3ea;
}
.carrito .header-carrito{
    background-color: #f6ce56;
    color: #372F1D;
    text-align: center;
    padding: 20px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #f7f3ea;
    padding: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #372F1D;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #372F1D;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #372F1D;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    background-color: #e6e3da;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #372F1D;
    color: #f7f3ea;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}
.gracias-img{
    width: 100%;
}
.exp-img {
    width: 100%;
}
.experiencia {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 60px;
}
.exp-lapanerx {
    padding: 45px;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.contedor-exp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 70px;
}
.exp {
    border: 1px solid #345047;
    width: 70%;
    background-color: #f7f3ea;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    box-shadow: #51423053;
}
.enviar {
    background-color: #16B6B1;
    border: 1px solid #16B6B1;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #372F1D;
}

.cont-gracias {
    display: block;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .contenedor-nov {
        padding: 3%;
    }
    .abrir{
        display: none;
    }
    .cerrar{
        display: none;
    }
    .news {
        display: none;
    }
    .cont-contacto {
        font-size: 16px;
    }
    .horario {
        font-size: 14px;
        padding-right: 4%;
    }
    .footer-footer{
        flex-direction: column;
    }
    .footer-footer .estrellas{
        align-items: center;
        align-self: center;
    }
    .footer-footer .redes{
        align-self: center;
    }
    .footer-footer .comentario{
        align-self: center;
        margin-bottom: 3%;
    }
    .novedad-picnic {
        flex-direction: column;
    }
    .novedades-img{
        width: 100%;
    }
    .contenedor-picnic{
        padding-left: 0;
    }
    .cont-carta-menu{
        display: block;
    }
    .cont-items{
        width: 100% !important;
    }
    .carrito {
        width: 100%;
    }
    .cont-carta-pedidos{
        flex-direction: column;
    }
    .carta-pedidos{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 480px){
    .homemenu {
        display: none;
    }
    .toggle-btn{
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }
    .responsive .home-responsive{
        visibility: hidden;
    }
    .open{
        visibility: visible;
    }
    .open .home-responsive{
        visibility: visible;
    }
    .open .home-responsive .menu-resp{
        visibility: visible;
    }
    .contenedor-nov {
        flex-direction: column;
        padding: 3%;
    }
    .nov-img {
        width: 100%;
        align-self: center;
        padding: 0;
        margin: 0;
    }
    .novedades-lapan{
        width: 80%;
        align-self: center;
    }
    .contenedor-seg-menu .second-menu{
        flex-direction: column;
    }
    .second-menu{
        justify-content: space-between;
    }
    .contenedor-seg {
        width: 80%;
    }
    .contenedor-contacto-map {
        flex-direction: column;
    }
    .mapa {
        width: 100%;
        height: 700px;
    }
    .cont-contacto {
        width: 100%;
        font-size: 18px;
    }
    .horario {
        font-size: 20px;
    }
    .contenedor-insta {
        flex-direction: column;
    }
    .instagram-feed {
        flex-direction: column;
        align-content: center;
        display: inline;
        padding: 0;
    }
    .feed {
        width: 100%;
    }
    .footer-footer {
        flex-direction: column;
        font-size: 30px;
        display: inline;
    }
    .footer-footer .comentario{
        display: block;
        align-self: center;
        margin-bottom: 3%;
    }
    .class-carta {
        display: none;
    }
    .carta-menu {
        width: 100%;
    }
    .par-ab {
        justify-content: center;
        font-size: 20px;
    }
    .aclaración {
        font-size: 20px;
    }
    .p-a {
        padding-right: 10px;
        width: 50%;
    }
    .p-b {
        width: 50%;
    }
    .siguenos-insta {
        align-items: center;
    }
    .insta-img {
        align-content: center;
        width: 150px;
    }
    .experiencia {
        padding: 10px;
    }
    .exp-lapanerx{
        padding: 20px;
    }

}